body {
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.iphone {
  width: 375px;
  height: 812px;
  background-color: black;
  border-radius: 30px;
  /* box-shadow: 0px 0px 10px #333; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.screen {
  width: 265px;
  color: white;
  font-size: 60px;
  text-align: end;
  padding: 45px;
  padding-top: 180px;
  padding-left: 100px;
}
.buttons {
  padding-left: 20px;
  padding-right: 6px;
}
button {
  background-color: rgb(51, 51, 51);
  border: none;
  color: whitesmoke;
  font-size: 60px;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  margin: 9px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(111, 110, 110);
}
button:active {
  background-color: rgb(232, 232, 232);
}
#clear {
  width: 160px;
  background-color: rgb(252, 226, 27);
}
#equals {
  background-color: rgb(252, 226, 27);
}
#equals:hover {
  background-color: rgb(252, 201, 17);
}
#clear:hover {
  background-color: rgb(252, 201, 17);
}
#equals-clear {
  width: 100%;
  font-size: xx-large;
}
#toggle-button {
  width: 90%;
  background-color: red;
}
#padding {
  padding-left: 20px;
}
#tip-calc {
  width: 375px;
  height: 812px;
  background-color: black;
  border-radius: 30px;
  /* box-shadow: 0px 0px 10px #333; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 170px;
  padding-bottom: 90px;
}
#container {
  height: 350px;
  width: 350px;
  color: whitesmoke;
  /* background-color: rgb(211, 211, 211); */
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 75px 75px 75px 75px;
  grid-template-areas:
    ". bill-amount"
    ". tip-percentage"
    ". tip-amount"
    ". total-bill"
    "btn btn";
}
#bill-amount {
  grid-area: bill-amount;
  height: 25px;
  width: 240px;
  font-size: large;
}
#tip-percentage {
  grid-area: tip-percentage;
  height: 25px;
  width: 240px;
  font-size: large;
}
#tip-amount {
  grid-area: tip-amount;
  height: 25px;
  width: 240px;
  font-size: large;
}
#total-bill {
  grid-area: total-bill;
  height: 25px;
  width: 240px;
  font-size: large;
}
input {
  background-color: black;
  color: white;
  font-size: medium;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid white;
}
#btn-pad {
  display: flex;
  font-size: 30px;
}
#btn {
  background-color: rgb(252, 226, 27);
  grid-area: btn;
  height: 80%;
  width: 150%;
  font-size: xx-large;
}
#btn:hover {
  background-color: rgb(252, 201, 17);
}
#clear-btn {
  background-color: rgb(252, 226, 27);
  grid-area: btn;
  height: 80%;
  width: fit-content;
  margin-left: 60px;
  font-size: xx-large;
}
#clear-btn:hover {
  background-color: rgb(252, 201, 17);
}
#toggle-button1 {
  width: 80%;
  height: 80%;
  display: none;
  background-color: red;
}
@media only screen and (max-width: 499px) {
  body {
    background-color: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  /* .iphone {
    align-items: center;
    width: 100%;
    height: auto;
    background-color: black;
    overflow: hidden;
  } */
  .calculator {
    background-color: black;
    padding-left: 450px;
  }
  .space{
    padding-top: 155px;
    padding-right: 25px;
  }
  .screen {
    background-color: black;
    color: white;
    width: 90%;
    font-size: 50px;
    text-align: right;
    padding: 5px;
    padding-top: 60px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  .buttons {
    padding-top: 10px;
    padding-left: 12px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
  }
  button {
    align-items: center;
    margin: 7px;
    width: 80px;
    height: 80px;
    border-radius: 55px;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  #equals-clear {
    grid-row: 5/6;
    grid-column: 1/5; /* Span across 3rd to 5th column */
    display: flex;
    justify-content: space-between;
  }
  #equals,
  #clear {
    width: 100%;
  }
  #container {
    background-color: black;
    color: white;
    padding-right: 115px;
  }
  input {
    background-color: black;
    color: white;
    font-size: medium;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid white;
  }
  #buttonSpace {
    padding-left: 30px;
  }
  #padding {
   overflow: hidden; 
   padding-right: 24rem;
  }
  #tip-calc {
    display: none;
   
  }
  #toggle-button1 {
    width: 80%;
    height: 5%;
    display: block;
    background-color: red;
  }
}
@media only screen and (min-width: 500px) and (max-width: 600px) {
  body {
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
    box-shadow: none;
    overflow: hidden;
  }
  .calculator {
    background-color: black;
    padding-left: 60px;
  }
  .screen {
    background-color: black;
    color: white;
    width: 95%;
    font-size: 50px;
    text-align: right;
    padding: 15px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  .buttons {
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
  }
  button {
    align-items: center;
    margin: 7px;
    width: 80px;
    height: 80px;
    border-radius: 55px;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  #equals-clear {
    grid-row: 5/6;
    grid-column: 1/5; /* Span across 3rd to 5th column */
    display: flex;
    justify-content: space-between;
  }
  #equals,
  #clear {
    width: 100%;
  }
  #container {
    background-color: black;
    color: white;
    padding-right: 115px;
  }
  input {
    background-color: black;
    color: white;
    font-size: medium;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid white;
  }
  
  #tip-calc {
    display: none;
  }
  #toggle-button1 {
    width: 80%;
    height: 5%;
    display: block;
    background-color: red;
  }
}
